$colorDanger: #f92600;
$colorSuccess:#2eb85c;
$colorLightGray:#E5E5E5;
$colorBody:#F3F5F9;
$colorWhite:#ffffff;
$darkGray:#565656;
$colorLightGray2:#EDEDED;
$colorBlue:#4289FF;
$colorBtn:linear-gradient(335.64deg,#ff589b -19.22%,#ff136f 118.87%);